.blog-post-list {
	
}

.blog-post-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;

	@media @mobile {
		margin-bottom: 30px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.blog-post-feature-image-wrap, .blog-list-footer {
	margin: 0 auto 30px;
	max-width: 1000px;
	text-align: center;
	width: 100%;
}

.blog-list-footer {
	margin-bottom: 60px;
}

.blog-post-feature-image-wrap {
	background-position: center;
	background-size: cover;
	min-height: 400px;
	max-height: 50px;

	@media @mobile {
		min-height: 250px;
		max-height: 350px;
	}

	img {
		display: none;
		visibility: hidden;
	}
}

.blog-post-title, .blog-post-summary, .blog-post-content, .blog-post-more-link, .blog-post-date, .blog-post-metadata{
	margin: 0 auto 20px;
	max-width: 800px;
	text-align: left;
	width: 100%;
}

.blog-post-title {
	line-height: 1.18;
	order: 2;
	a {
		text-decoration: none;
	}
}


.blog-post-summary {
	order: 3;
}

.blog-post-more-link {
	order: 4;
}

.blog-post-date {
	color: @dark-grey;
	display: block;
	font-size: 14px;
	margin: 15px auto 4px;
	order: 1;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		color: @dark-grey;
	}
}

// Footer Older / Newer Pagination
.blog-post-pagination-page {
	border: 2px solid fade(@black, 20%);
	.border-radius(4px);
	color: fade(@black, 40%);
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	.transition (all, .5s, ease-out);
	&:hover {
		border: 2px solid fade(@black, 40%);
		color: fade(@black, 75%);
	}
	&:first-child {
		margin-right: 20px;
	}
}

section.blog-post-content {
	padding: 0!important;
}

.blogpost {
	margin: 40px auto 0;

	.blog-post-title {
		font-size: 42px;
   		font-size: 2.47058823529rem; /* 42 / 17 */
		line-height: 1.2;
		margin: 12px auto 24px;

		@media @mobile {
			font-size: 2.11764705882rem;
			font-size: 36px;
		}
	}

	.blog-post-content p {
		line-height: 1.8;
	}
}

.blog-post-metadata {
	margin: 25px auto 40px;

	@media @mobile {
		margin: 10px auto 40px;
	}

	// Blog Post Footer Containers
	.blog-post-publish-date, div.blog-post-category, .blog-post-tags {
		display: inline-block;
		min-width: 18%;
	}

	.blog-post-category-label, .blog-post-tags-label {
		&:after {
			content: ":";
			margin: 0 2px;
		}
	}

	// Category & Tags Child Elements
	div.blog-post-category, .blog-post-tags {
		float: right;
		text-align: right;

		@media @mobile {
			display: block;
			float: initial;
			text-align: left;
		}

		> p, > ol {
			display: inline-block;
			margin: 0;
			padding: 0;
			a {
				color: @green;
				text-decoration: none;
			}
		}
	}

	.blog-post-tags {
		margin-right: 10px;
	}

	// Blog Post Date
	.blog-post-publish-date {
		color: @dark-grey;
		float: left;

		@media @mobile {
			float: initial;
			margin-bottom: 15px;
		}
	}

	// Tags List
	.blog-post-tags ol {
		padding-left: 0;
		li {
			display: inline-block;
		}
	}

}

.blog-post-sharing {
		margin: 10px auto;
		max-width: 800px;
		width: 100%;
	button {
		.border-radius(3px);
		border: 0;
		color: @white;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 1px;
		height: 30px;
		margin-right: 4px;
		line-height: 28px;
		padding: 0 10px;

		&.facebook {
			background-color: #3b5998;
		}
		&.twitter {
			background-color: #4099FF;
		}
		&.googleplus {
			background-color: #D50F25;
		}
	}
}


// Typographic Heiriarchy
// ----------------------

.blog-post-title-content-wrap {
	h1,h2,h3,h4 {
		color: darken(@color-swatch4, 8%);
	}
	h1 {
		font-size: 30px;
		line-height: 38px;
		padding-bottom: 20px;
		@media @mobile {
			font-size: 26px;
		}
	}
	h2 {
		font-size: 26px;
		line-height: 34px;
		padding: 10px 0 15px;
	}
	h3 {
		font-size: 22px;
		line-height: 28px;
		padding: 0 0 15px;
	}
	h4 {
		color: @black;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 25px;
	}
	h5 {
		font-size: 16px;
	}
	p {
		padding-bottom: 15px;
		margin: 0;
		+ hr {
			margin: 1.5em 0 3em;
		}
	}
	hr {
		border-color: rgba(0,0,0,0.05);
	}
	a {
		text-decoration: underline;
	}
	ol, ul {
		padding-left: 20px;
		margin: 5px 0 20px;
		li {
			color: @grey-light;
			list-style: inherit;
			margin-bottom: 10px;
		}
	}
	p a, ul a, ol a, span a {
		text-decoration: underline;
	}
	p img {
		margin: 15px 0;
	}
	blockquote {
		background-color: rgba(0,0,0, 0.02);
		color: rgb(100,100,100);
		padding: 25px 25px 25px 60px;
		position: relative;
		line-height: 28px;
		margin: 15px 0;
		@media @mobile {
			font-size: 15px;
			padding-left: 50px;
		}
		&:before {
			color: rgba(0,0,0, 0.085);
			content:"\201C";
			font-size: 72px;
			left: 16px;
			position: absolute;
			top: 45px;
			@media @mobile {
				left: 12px;
			}
		}
	}
	pre {
		color: rgb(100,100,100);
		white-space: pre-wrap;
	}
}


// Disqus Comments
// ----------------------

.widget.disqus {
	margin: 30px auto 60px;
	max-width: 800px;
	@media @mobile {
		padding: 20px 35px;
	}
}
