// -----------------------------
//  Blog
// -----------------------------



//  Blog post list
// --------------------------

.blog {
	padding: 0 0 45px;

	@media @tablet {
		padding: 25px 0;
	}
}

.blog-main {
	@media @tablet {
		margin-left: 0;
		width: 100%;
	}	
}

.blog-breadcrumb {
	margin: 0;
	max-width: 100%;
	padding: 35px 0;
	@media @tablet {
		padding: 0 0 25px 0;
	}

	@media @mobile {
		display: none;
		visibility: hidden;
	}

	ul {
		padding-left: 0;
		list-style: none;
	}

	li {
		display: inline-block;

		&:first-child a {
			color: lighten(@dark-grey, 10%);
			margin-right: 3px;
		}

		&:first-child a:after {
			content: "/";
			margin-left: 6px;
			position: relative;
			top: -1px;
		}
	}

	a {
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.blog-sidebar {
	@media @tablet {
		margin-left: 0;
		width: 100%;
	}

	.blogsearch legend, h3 {
		font-size: 21px;
		font-weight: 600;
		line-height: 28px;
		margin-bottom: 18px;
	}
}

.blogsearch {
	fieldset {
		border: none;
		box-sizing: border-box;
		display: block;
		padding: 0;
		position: relative;
	}

	label {
		display: none;
		visibility: hidden;
	}

	.form-body {
		position: relative;
	}

	input {
		border-radius: 4px;
		border: 1px solid #e1e1e1;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.045);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.045);
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.045);
		padding: 5px 10px;
		height: 55px;
		width: 100%;
	}

	button {
		background-color: transparent;
		border: none;
		color: white;
		height: 55px;
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;

		&:after {
			color: rgb(182, 180, 180);
			content: "\f002";
			display: inline-block;
			font-family: fontawesome;
			font-size: 20px;
			line-height: 54px;
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 6px;
 			top: 0;
 			.transition(all, 0.65s, ease-in-out);
		}

		&:hover:after {
			color: @black;
		}
	}
}

.blog-signup {
	background-color: #fafafa;
	border: 1px solid darken(#fafafa, 10%);
	.border-radius(4px);
	font-size: 16px;
	margin: 45px 0;
	padding: 30px;

	p {
		font-size: 17px;
  		line-height: 30px;
	}

	.button {
		display: block;
		font-size: 15px;
		padding: 15px 30px;
		text-align: center;
	}
}

.twitter-feed {
	.tweet-list {
		padding-left: 0;
		list-style: none;
	}

	.tweet-item {
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 12px;
		padding: 12px 0 24px;

		&:last-child {
			border-bottom: 0;
		}
	}

	.tweet-content {
		margin-bottom: 0;
	}

	.tweet-metadata {
		text-transform: uppercase;
		font-size: 12px;
		color: #adadad;
		letter-spacing: 1px;
	}

	.avatar,
	.account-link {
		display: none;
		visibility: hidden;
	}
}

.blog-useful-links {
	ul {
		padding-left: 0;
		list-style: none;
	}

	li {
		border-bottom: 1px solid #e1e1e1;
		padding: 12px 0;

		&:last-child {
			border-bottom: 0;
		}
	}

	a {
		color: @dark-grey;
		text-decoration: none;

		&:hover {
			color: darken(@dark-grey, 25%);
		}
	}
}

.blogpostlist {
	.post-article {
		display: inline-block;
		margin: 0 0 40px;
		position: relative;
		width: 48%;
		vertical-align: top;

		@media @mobile {
			width: 100%;
		}

		&:nth-child(even) {
			clear: right;
			margin-left: -5px;
			margin-right: 4%;
		}
	}

	.post-article:first-child {
		display: block;
		margin: 0 0 45px;
		width: 100%;

		.post-image {
			height: 400px;
			margin-bottom: 20px;

			@media @mobile {
				height: 200px;
			}

			.image-link {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				display: block;
				height: 400px;

				@media @mobile {
					height: 200px;
				}
			}

			.image {
				display: none;
				visibility: hidden;
			}
		}

		.post-title {
			font-size: 36px;
			line-height: 46px;

			@media @mobile {
				font-size: 30px;
				line-height: 40px;
				margin-bottom: 15px;
			}
		}

		.post-excerpt {
			p {
				font-size: 18px;
				line-height: 28px;
			}
		}

		.read-more {
			padding: 8px 16px;
		}
	}

	.post-title {
		font-size: 25px;
		font-weight: 600;
		line-height: 32px;
		margin-bottom: 15px;
	}

	.post-excerpt p {
		font-size: 17px;
		font-weight: 400;
		line-height: 27px;
	}

	.title-link {
		text-decoration: none;
	}

	.post-image {
		height: 200px;
		margin-bottom: 20px;

		.image-link {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			display: block;
			height: 200px;
		}

		.image {
			display: none;
			visibility: hidden;
		}
	}

	.post-footer {
		position: absolute;
		right: 20px;
		top: 20px;

		@media @mobile {
			left: 20px;
			right: initial;
		}
	}

	.timestamp {
		background-color: fade(white, 65%);
		padding: 5px 10px;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.read-more {
		background-color: @orange;
		.border-radius(4px);
		color: @white;
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		padding: 3px 12px;
		text-decoration: none;
		.transition(all, 0.5s, ease-in-out);

		&:hover {
			background-color: darken(@orange, 10%);
		}
	}
}

.post-list-footer {
	margin: 40px 0 50px;

	@media @tablet {
		border-top: 1px solid gainsboro;
		margin: 30px 0 50px;
		padding-top: 20px;
	}
}

.pagination-list {
	padding-left: 0;
	list-style: none;

	li {
		display: inline-block;
	}

	.button--pagination {
		border: 1px solid gainsboro;
		color: lighten(@black, 20%);
		display: inline-block;
		padding: 10px 20px;
		position: relative;
		.transition(all, 0.5s, ease-in-out);

		&:hover {
			border-color: @black;
			color: @black;
		}

		span {
			font-size: 14px;
		}
	}

	.button--previous:before {
		content: "<";
		margin-right: 6px;
		font-size: 16px;
	}

	.button--next:after {
		content: ">";
		margin-right: 6px;
		font-size: 16px;
	}
}

.blogpost {
	.post-image {
		margin-bottom: 35px;

		@media @mobile {
			margin-bottom: 30px;
		}

		.image-link {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			display: block;
			height: 400px;

			@media @mobile {
				height: 200px;
			}
		}

		.image {
			display: none;
			visibility: hidden;
		}
	}

	.post-title {
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 20px;

		@media @mobile {
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 15px;
		}
	}

	.timestamp {
		background-color: fade(white, 65%);
		padding: 5px 10px;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		position: absolute;
		right: 20px;
		top: 20px;

		@media @mobile {
			left: 20px;
			right: initial;
		}
	}

	.post-footer {
		border-top: 1px solid gainsboro;
		margin: 40px 0 0;
		padding-top: 30px;
	}

	.post-category, 
	.post-tags {
		display: inline-block;

		p {
			color: @black;
			display: inline-block;
			font-size: 15px;
  			font-weight: 500;
			margin-bottom: 0;
			margin-right: 3px;
			text-transform: uppercase;

			&:after {
				content: ":";
			}
		}
		a {
			display: inline-block;
			color: @dark-grey;
			font-size: 15px;
			text-transform: uppercase;
			font-weight: 500;
			text-decoration: none;
			.transition(all, 0.5s, ease);

			&:hover {
				color: @green;
			}
		}
	}

	.post-category {
		margin-right: 15px;
	}

	.post-tags ul {
		display: inline-block;
		padding-left: 0;
		list-style: none;
		margin: 0;

		li {
			display: inline-block;
			margin-right: 4px;
		}
	}
}

.sharing-links {
	margin: 12px 0 50px;
	padding-left: 0;
	list-style: none;

	li {
		display: inline-block;
	}

	button {
		border: 0;
		color: white;
		font-size: 13px;
		margin-right: 8px;
		margin-top: 15px;
		padding: 5px 12px;
	}

	.js-twitter-btn {
		background-color: #55acee;
	}

	.js-facebook-btn {
		background-color: #3B5998;
	}

	.js-googleplus-btn {
		background-color: #f44336;
	}
}

// Typographic Heiriarchy
// ----------------------

.blogpost .post-content {
	h2 {
		font-size: 26px;
		line-height: 34px;
		padding: 10px 0 15px;
	}
	h3 {
		font-size: 22px;
		line-height: 28px;
		padding: 0 0 15px;
	}
	h4 {
		color: @black;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 25px;
	}
	h5 {
		font-size: 16px;
	}
	p {
		padding-bottom: 15px;
		margin: 0;
		line-height: 38px;

		@media @mobile {
			font-size: 17px;
			line-height: 35px;
		}
		+ hr {
			margin: 1.5em 0 3em;
		}
	}
	hr {
		border-color: rgba(0,0,0,0.05);
	}
	a {
		text-decoration: underline;
	}
	ol, ul {
		padding-left: 20px;
		margin: 5px 0 20px;
		li {
			color: @grey-light;
			list-style: inherit;
			margin-bottom: 10px;
		}
	}
	p a, ul a, ol a, span a {
		text-decoration: underline;
	}
	p img {
		margin: 15px 0;
	}
	blockquote {
		background-color: rgba(0,0,0, 0.02);
		color: rgb(100,100,100);
		padding: 25px 25px 25px 60px;
		position: relative;
		line-height: 28px;
		margin: 15px 0;
		@media @mobile {
			font-size: 15px;
			padding-left: 50px;
		}
		&:before {
			color: rgba(0,0,0, 0.085);
			content:"\201C";
			font-size: 72px;
			left: 16px;
			position: absolute;
			top: 45px;
			@media @mobile {
				left: 12px;
			}
		}
	}
	pre {
		color: rgb(100,100,100);
		white-space: pre-wrap;
	}
}
