// -----------------------------
// 	Signup Overlay
// -----------------------------


// Full Screen Overlay
.dev-overlay {
	.transition(opacity, 0.35s, ease-in-out);
	position: relative;
	height: 0;
	visibility: hidden;
	.icon-close, .container {
		opacity: 0;
		visiblity: hidden;
	}
}

// Signup Flow Choices
.signup-choice {
	display: block;
	text-decoration: none;
	img {
		opacity: 0.5;
		.transition(opacity, 0.5s, ease-out);
	}
	&:hover, &:hover > img {
		opacity: 1;
	}
}

// Overlay Container
.dev-overlay-container {
	opacity: 0;
 }

// Overlay Target
.dev-overlay:target {
	background: @black;
	height: 100%;
	overflow: scroll;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	pointer-events: none;
	position: fixed;
	pointer-events: auto;
	-webkit-overflow-scrolling: touch;
	visibility: visible;
  	z-index: 999;

	.container, .icon-close {
		.transition(all, 0.65s, ease-in-out);
		opacity: 1;
		visibility: visible;
	}

	h2, h3 {
		color: @white;
	}
	h2 {
		margin-bottom: 65px;
		text-align: center;

		@media @mobile {
			margin-bottom: 20px;
		}
	}
	.vertical-center {
		@media @mobile {
			display: block;
			padding-top: 80px;
		}
	}
	.widget.blogpost, .widget.blogpostlist {
		display: none;
	}
}

// Close Icom
.icon-close {
	color: lighten(@black, 25%);
	font-size: 44px;
	position: absolute;
	right: 50px;
	text-decoration: none;
	top: 30px;
	z-index: 9999;

	@media @mobile {
		font-size: 38px;
		right: 6%;
		top: 10px;
	}

	&:after {
		content: "\00D7";
		font-size: 72px;
		font-weight: 200;
		line-height: 72px;

		@media @mobile {
			font-size: 32px;
		}
	}

	&:hover {
		color: @white; 
	}
}



// -----------------------------
// 	Signup Form
// -----------------------------


// Form Section
.signup-form {
	background-color: @black;
	h2 {
		margin-bottom: 10px;
	}
	h4 {
		padding-bottom: 30px!important;

		@media @mobile {
			padding-bottom: 15px!important;
		}
	}

	// Form
	form {
		background-color: @white;
		.border-radius(6px);
		border: 1px solid darken(@grey, 5%);
		display: block;
		padding: 50px 40px 25px;
		margin: 0 auto;
		max-width: 450px;

		@media @mobile {
			padding: 30px 30px 35px;
		}
	}

	// Error Message
	.alert {
		.border-radius(6px);
		color: #a94442;
		background-color: #f2dede;
		border: 1px solid transparent;
		border-color: #ebccd1;
		margin: 0 auto 20px;
		max-width: 500px;
		padding: 10px 15px;
		position: relative;
		text-align: center;
		.transition(all, 0.5s, ease-in-out);
		&:before {
			border-radius: 50px;
			color: #a94442;
			content: "!";
			display: inline-block;
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
			position: relative;
			height: 22px;
			width: 22px;
			border: 2px solid fade(#a94442, 65%);
			position: absolute;
			right: 15px;
		}
		&.hidden {
			display: none!important;
			visibility: hidden!important;
		}
	}
	input.error {

	}
	label.error {
		color: #d63b38;
		display: block;
		font-size: 16px;
		margin-bottom: 16px;
		margin-top: -8px;
		text-align: center;
	}

	input {
		border: 1px solid #e1e1e1;
		.border-radius(4px);
		color: #838383;
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
		margin-right: 0.6em;
		height: 55px;
		text-indent: 15px;
		.transition(all, 0.5s, ease-out);
		width: 100%;
	}

	button {
		border: none;
		margin-top: 8px;
		padding: 16px 20px;
		width: 100%;
	}
}

// Newsletter
.newsletter {
	padding-top: 22px;
	text-align: center;
	input[type="checkbox"] {
		display: inline-block;
		height: auto;
		margin: 0 5px 0 0;
		width: auto;
	}

	span {
		color: lighten(@black, 10%);
		font-size: 15px;
	}
}

// Terms & Conditions
.terms {
	display: block;
	padding: 20px 50px 0;
	margin: 0 auto;
	max-width: 450px;
	p {
		color: @dark-grey;
		font-size: 15px;
		margin-bottom: 0;
	}
	a {
		color: lighten(@dark-grey, 15%);
		font-size: 15px;
		margin-left: 2px;
	}
}


// Button

button#register-button {
	.transition(0.25s, background-color, ease-out);
}

button[disabled=disabled][type=submit] {
	color: @green;
	cursor: not-allowed;
	pointer-events: none;
	position: relative;
	opacity: .65;
	filter: alpha(opacity=65);
	text-shadow: none;
	.transition(0.5s, background-color, ease-in);
	&:before {
		content: "";
		width: 200px;
		height: 30px;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		opacity: 1;
	}
	&:after {
		content: "";
		display: inline-block;
		width: 18px;
		height: 18px;
		border: 6px solid darken(@green, 15%);
		border-radius: 50%;
		border-top-color: lighten(@green, 30%);
		animation: spin 1s ease-in-out infinite;
		-webkit-animation: spin 1s ease-in-out infinite;
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 13px;
	}
}



// -----------------------------
// 	Login Form
// -----------------------------

// Button Success Spinner
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}


// Login Form
.login-form {
	.row {
		width: 100%;
	}
	h2 {
		margin-bottom: 30px;
	}
	fieldset, p {
		display: block;
		margin: 0 auto;
		max-width: 600px;
		position: relative;
	}
	fieldset {
		border: none;
		padding-bottom: 0;
	}
	label, input {
		display: block;
		width: 100%;
	}
	label {
		color: @dark-grey;
		margin-bottom: 6px;
	}
	input {
		border: 1px solid #e1e1e1;
		.border-radius(4px);
		color: #838383;
		display: block;
		font-size: 16px;
		margin-bottom: 20px;
		height: 60px;
		text-indent: 15px;
		.transition(all, 0.5s, ease-out);
		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	}
	button {
		background-color: @green;
		border: none;
		.border-radius(4px);
		color: @white;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 1px;
		margin-bottom: 12px;
		margin-top: 10px;
		height: 60px;
		padding: 16px 20px;
		width: 100%;
		text-transform: uppercase;
	}
	.password-mask-toggle {
		background-color: rgba(0,0,0, 0.2);
		display: block;
		top: 20px;
		right: 25px;
		width: 60px;
		background-color: lighten(@black, 40%);
		font-size: 12px;
		position: absolute;
		text-align: center;
		.transition(all, .5s, ease-in-out);
		height: 25px;
		padding: 0;
		z-index: 9999;

		&:hover {
			background-color: lighten(@black, 20%);
		}
	}
	// Stay Logged In
	.js-persist-login {
		display: inline-block!important;
		width: auto!important;
		height: auto!important;
		margin-right: 6px;
		&+ label {
			display: inline-block;
			width: auto;
		}
	}
	// Error Message
	.error {
		color: #f23333;
		display: none;
		font-size: 16px;
		margin: 0 0 10px;
		position: relative;
		text-align: center;
		&:before {
			border-radius: 50px;
			content: "!";
			display: inline-block;
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
			position: relative;
			height: 22px;
			width: 22px;
			background-color: #f23333;
			color: @white;
			position: absolute;
			right: 15px;
			top: -60px;
		}
		&.submission {
			margin: 8px 0 0;
		}
	}
	p {
		font-size: 15px;
		margin-top: 10px;
		text-align: center;
	}
	a {
		color: lighten(@dark-grey, 15%);
	}
}

// Forgotton Password Error Message
.message-box {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	position: relative;
}

.message-text {
	color: #f23333;
	display: block;
	font-size: 16px;
	margin: 10px 0;
	position: relative;
	text-align: center;
	&:before {
		border-radius: 50px;
		content: "!";
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		position: relative;
		height: 22px;
		width: 22px;
		background-color: #f23333;
		color: @white;
		position: absolute;
		right: 15px;
		top: -152px;
	}
}
