// -------------------------------
// BK Developer Theme: CSS > Theme
// -------------------------------


// -----------------------------
// #Table of Contents
// -----------------------------


// #Page Content
// #Header
// #Page Intro
// #Feature Blocks
// #Developer Overlay
// #Developer Signup Form




// -----------------------------
// #Page Content
// -----------------------------

.container {
	max-width: 1300px;
}

.page-content {
	position: relative;
   	left: 70px;

	width: 100%; // Fallback
	width: calc(~"100% - 70px");
	max-width: 1300px;
	background: @white;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);

   	@media @desktop {
        left: 60px;
    }

    @media @mobile {
    	top: 38px;
    	left: 0;
    	width: 100%;
	}

   	.open & {
   		left: 270px;
   		.transition(0.3s);

	   	@media @desktop {
	   		left: 260px;
	    }

	    @media @mobile {
	    	left: 210px;
	    }
   	}
}




// -----------------------------
// #Header
// -----------------------------

.theme-header {
	padding: 20px 0;

	@media @mobile {
		padding-bottom: 10px;
	}
}

.top-section {
	padding: 0 60px 60px;

	@media @desktop {
		padding: 0 40px 40px;
	}

	@media @mobile {
		padding: 0 30px 10px;
	}
}


// Element Positioning
// -------------------

// Logo Container
.logo-container {
	float: left;
}

// Account Buttons
.account-buttons {
	float: right;

	@media @mobile {
		position: fixed;
		top: 3px;
		right: 19px;
		z-index: 9999;

		.button,
		.button:hover {
			background-color: transparent;
		}
		.button--green {
			color: @green;
		}
		.button--orange {
			color: @orange;
		}
	}
}


// Logo
// ----------

.logo-image,
.logo-headline {
	display: inline-block;
	vertical-align: bottom;
}




// -----------------------------
// #Page Intro
// -----------------------------

.page-intro {
	padding: 30px 0 0;

	@media @mobile {
		padding: 20px 0;
	}

	p {
		margin: 0;
		font-size: 18px;
		line-height: 30px;
		@media @mobile {
			font-size: 16px;
		}
	}
}





// -----------------------------
// #Feature Blocks
// -----------------------------

.feature-blocks {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	max-width: 1300px;

	p {
		color: @white;
		max-width: 85%;
	}
}


// Feature Items
// -------------

.feature-item {
	flex:         1 0 33.33%;
	-ms-flex:     1 0 33.33%;
	-webkit-flex: 1 0 33.33%;

	padding: 35px 35px 115px 35px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-right:  1px solid rgba(255, 255, 255, 0.5);

	// Removes border from 4th, 5th and 6th items
	&:nth-child(n+4) {
		border-bottom: 0;
	}

	@media @desktop-lrg {
		min-height: inherit;
		padding-bottom: 55px;
	}

	@media @desktop {
		padding-bottom: 45px;
		flex:         1 0 50%;
		-ms-flex:     1 0 50%;
		-webkit-flex: 1 0 50%;

		&:nth-child(n+4) {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		}
	}

	@media @mobile {
		flex:         1 0 100%;
		-ms-flex:     1 0 100%;
		-webkit-flex: 1 0 100%;

		border-right: 0;
	}
}


// Background Colors
// -----------------

// Blue
.bg-color--blue {
	background-color: @blue;

	@media @desktop {
		order: 2;
	}

	&:hover {
		background-color: darken(@blue, 3%);
	}
}

// Green
.bg-color--green {
	background-color: @green;
	&:hover {
		background-color: darken(@green, 3%);
	}
	@media @desktop {
		order: 1;
	}
}

// Orange
.bg-color--orange {
	background-color: @orange;
	border-right: 0;

	@media @desktop {
		order: 3;
		border-right: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 0;
		&:nth-child(n+4) {
			border-bottom: 0;
		}
	}

	&:hover {
		background-color: darken(@orange, 3%);
	}
}


// Feature Graphics
// ----------------

.graphic {
	background-repeat: no-repeat;
	background-position: bottom right;

	@media @desktop {
		background-image: none;
	}

	&.graphic--clouds {
		background-image: image('/images/graphic-documentation.png');
	}
	&.graphic--code {
		background-image: image('/images/graphic-code.png');
	}
	&.graphic--ed-tour {
		background-image: image('/images/graphic-editor-tour.png');
	}
	&.graphic--knowledge {
		background-image: image('/images/graphic-knowledge.png');
	}
	&.graphic--dev-blog {
		background-image: image('/images/graphic-blog.png');
	}
	&.graphic--tv-tour {
		background-image: image('/images/graphic-editor-tour.png');
	}
}
// Adds line at mobile (dirty)
.graphic--ed-tour {
	@media @mobile {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
}




// Divider
// -----------

.divider {
	width: 35px;
	height: 3px;
	margin: 0 0 20px 0;
	border: 0;
	background-color: rgba(255, 255, 255, 0.5);

	@media @desktop-lrg {
		display: none;
	}
}




// -----------------------------
// #Developer Overlay
// -----------------------------

.dev-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	display: block;
  	.transition(0.3s);
	pointer-events: none;
}

// Overlay Container
.dev-overlay-container {
	opacity: 0;
	width: 400px;
    margin: 0 auto;

    @media @mobile {
    	width: 90%;
    }
 }

// Overlay Target
.dev-overlay:target {
	display: block;
	pointer-events: auto;
  	background: #f3f3f3;
	.transition(.3s);

	.dev-overlay-container {
		opacity: 1;
		top: 0;
		.transition-delay(0.8s);
	}
}

// Close
.icon--close {
	position: absolute;
	right: 50px;
	top: 50px;

	font-size: 44px;
	color: @grey-dark;
	text-decoration: none;

	@media @mobile {
		right: 5%;
		top: 44px;
		font-size: 32px;
	}

	&:active {
		opacity: 0.5;
	}
}




// -----------------------------
// . #Developer Signup Form
// -----------------------------

.dev-signup-form, 
.dev-login-form {
	margin-top: 100px;
	font-family: 'arkiv-bold', helvetica, arial;

	@media @mobile {
		margin-top: 40px;
	}

	// Hide unused buynow details
	span,
	.widget-buynow-title, 
	.password-mask-toggle, 
	.widget-buynow-newsletter-text, 
	.widget-buynow-container-list li:nth-child(2n),
	.widget-buynow-container-list li:nth-child(3n),
	.widget-buynow-paymentMethods {
		display: none;
	}
	li {
		list-style: none;
	}
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}
	label {
		background-color: @white;
		position: absolute;
		padding: 0 16px;
		line-height: 44px;
		font-size: 17px;
	}
	input {
		width: 100%;
		height: 44px;
		border: 0;
		.rounded(4px);
		margin-bottom: 14px;
		padding-right: 12px;
		background-color: @white;

		font-family: 'proxima-nova', helvetica, arial;
		line-height: 46px;

		&:focus { outline: 0; }

		&.email { text-indent: 80px; }
		&.password, 
		&.widget-buynow-email { text-indent: 110px; }
	}
	button {
		width: 100%;
		height: 44px;
		padding: 0 16px;
		border: 0;
		.rounded(4px);

		font-size: 17px;
		color: @white;
		text-align: left;
		-webkit-font-smoothing: antialiased;
		cursor: pointer;
	}
	.password-mask-toggle {
		background-color: rgba(0,0,0, 0.2);
		display: block;
		top: 68px;
		right: 10px;
		width: 55px;
		background-color: gainsboro;
		font-size: 14px;
		position: absolute;
		text-align: center;
		height: 25px;
		padding: 0;
		z-index: 9999;
	}
	// Error Message
	.error {
		color: darken(@red, 10%);
		display: none;
		font-size: 14px;
		margin: 0 0 15px;
		text-align: center;
		&:before {
			border: 2px solid lighten(@red, 20%);
			border-radius: 50px;
			color: lighten(@red, 5%);
			content: "!";
			display: inline-block;
			font-size: 12px;
			font-weight: 800;
			line-height: 16px;
			margin-right: 8px;
			padding: 2px 0 0 1px;
			position: relative;
			height: 22px;
			width: 22px;
		}
		&.submission {
			margin: 8px 0 0;
		}
	}
	// Success Message Wrapper
	.js-overlay, .overlay {
		display: none;
	}
	// Success Message
	.js-message, .message {
		background: #f3f3f3 image('/images/loading.gif') no-repeat center 28%;
		padding: 25% 0;
		position: absolute;
		width: 100%;

		color: #25a33d;
		text-align: center;
		top: 0;
		&:before {
			content: "\2713";
			margin-right: 5px;
		}
	}
}

.dev-signup-form {
	label {
		color: darken(@green, 10%);
	}
	input.password {
		padding-right: 75px;
	}
	button {
		background-color: @green;
	}
}

.dev-login-form {
	label {
		color: darken(@orange, 10%);
	}
	button {
		background-color: @orange;
	}
}

// Developer Signup Title
.dev-signup-title, .dev-login-title {
	margin-bottom: 30px;
	text-align: center;

	@media @mobile {
		text-align: left;
	}

	* {
		display: inline-block;
		vertical-align: middle;
	}
	.logo-icon {
		margin-right: 4px;
	}
	h2 {
		padding-top: 1px;
		margin-bottom: 0;
		color: @grey-dark;
	}
}

// Developer Signup Text
.dev-signup-text, .dev-login-text {
	padding: 20px 0;
	text-align: center;
}
