{% extends "layout.twig" %}

{% block content %}

<!-- Signup / Login Overlay -->
{% include "includes/form-overlay.twig" %}

<!-- Sidebar Pullout Menu -->
{% include "includes/sidebar-pullout.twig" %}

<!-- Page Content -->
<section role="main" id="page-content" class="page-content">

	<section class="top-section">

		<div class="container">

			<!-- Theme Header -->
			{% include "includes/header.twig" %}

		</div>

	</section>
	<!-- End Top Section -->

	<!--<ul class="blog-breadcrumb">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/home">Blog</a></li>
    </ul>-->

	<!-- Feature Blocks -->
	<section role="main" class="developer-blog" id="metadata">

		{{widget('blogpost', 'blogpost1', {})|raw}}
		{{widget('disqus', 'disqus1', {})|raw}}

	</section>
	<!-- End Developer Blog -->

</section>
<!-- End Page Content -->

{% endblock %}

{% block templatebody %}
{% endblock %}
