{% extends "layout.twig" %}

{% block content %}


<!-- HEADER & NAVIGATION -->

{% include 'includes/header.twig' %}



<!-- MAIN SECTION -->

<div role="main" class="main">
	<div class="container">
		{{widget('blogpostlist', 'allblogposts', {})|raw}}
	</div>
</div>



<!-- FOOTER -->

{% include 'includes/footer.twig' %}

{% endblock %}
