{% extends "layout.twig" %}

{% block content %}

<!-- Sidebar Pullout Menu -->
{% include "includes/sidebar-pullout.twig" %}

<!-- Page Content -->
<section id="page-content" class="page-content">

	<section class="top-section">
		
		<div class="container">

			<!-- Theme Header -->
			{% include "includes/header.twig" %}

			<!-- Page Intro -->
			<div class="page-intro">

				<div class="container">

					{{zone('main')|raw}}

				</div>

			</div>

		</div>

	</section>
	<!-- End Top Section -->

</section>
<!-- End Page Content -->

{% endblock %}