{% extends "layout.twig" %}

{% block content %}

<!-- Signup / Login Overlay -->
{% include "includes/form-overlay.twig" %}

<!-- Sidebar Pullout Menu -->
{% include "includes/sidebar-pullout.twig" %}

<!-- Page Content -->
<section role="main" id="page-content" class="page-content">

	<section class="top-section">

		<div class="container">

			<!-- Theme Header -->
			{% include "includes/header.twig" %}

		</div>

	</section>
	<!-- End Top Section -->

	<!-- Feature Blocks -->
	<section role="main" class="developer-blog">

		{{zone('main')|raw}}

	</section>
	<!-- End Developer Blog -->

</section>
<!-- End Page Content -->

{% endblock %}
