{% extends "layout.twig" %}

{% block content %}


<!-- HEADER -->

{% include 'includes/header.twig' %}



<!-- MAIN SECTION -->

<div role="main" class="main">

	<section class="reset-password text-center">
		<div class="container">
			<div class="row">

				<div class="twelve columns text-center">
					{{widget('content', 'signup-heading', {"content":'<h2>Reset your password</h4>'})|raw}}

					{{widget('resetpassword', 'resetpassword', {'text':'Reset Password','completionPage': 'login'})|raw}}

					<p><a href="/home#login">Return to the login page</a></p>
				</div>

			</div>
		</div>
	</section>

</div>



<!-- FOOTER -->

{% include 'includes/footer.twig' %}

{% endblock %}
