{% extends "layout.twig" %}

{% block content %}



<div class="header-feature">

	<header class="header" role="banner">
	    <div class="container">
	    	<div class="row">

	    	<!-- Logo -->
		        <div class="three columns">
	                <a href="/home" class="logo">
	                	<img src="{{asset('images/basekit-logo.svg')}}" alt="BaseKit">
	                </a>
		        </div>

		        <!-- Mobile Navigation Toggle -->
		        <div class="nav-toggle toggle"><span></span></div>

		        <!-- Navigation -->
		        <div class="nine columns">
		        	<nav class="nav">
			            <ul>
			                <li><a target="_blank" href="http://docs.basekit.com/">Docs</a></li>
							<li><a target="_blank" href="http://knowledge.basekit.com/">Forum</a></li>
							<li><a href="/pricing">Pricing</a></li>
							<li><a href="#login" class="button small outline">Login</a></li>
							<li class="currency-selector">
								<select>
									<option value="gbp">GBP: Pound</option>
									<option value="eur">EUR: Euro</option>
									<option value="usd">USD: Dollar</option>
								</select>
							</li>
			            </ul>
		            </nav>

		        </div>

		    </div>
	    </div>
	</header>



<!-- SIGNUP / LOGIN OVERLAY -->

{% include 'includes/form-overlay.twig' %}


<!-- Feature -->
	<div class="feature medium pricing-img">
	    <div class="feature-content">
	        <div class="container">
	        	{{widget('content', 'feature-heading-pricing', {"content":'<h1>Pricing</h1><h4>Start with your free account and upgrade at any time within the editor.</h4>'})|raw}}
	        </div>
	    </div>
	</div>
</div>



<!-- MAIN SECTION -->

<div role="main" class="main pricing-body">
	<div class="container">

		<div class="pricing-table">

			<div class="pricing-category free">
				<header class="pricing-details">
					<h5 class="pricing-title">Free</h5>
					<h3 class="pricing-price  free-package">&pound;0</h3>
					<h5 class="pricing-timeline">/mo</h5>
				</header>

				<div class="pricing-benefits">
					<ul>
						<li class="included">Web builder</li>
						<li class="included">Blog</li>
						<li class="included">Ecommerce</li>
						<li class="included">10 pages</li>
						<li class="not-included">Map custom domain</li>
						<li class="not-included">Free domain</li>
					</ul>
					<a href="/templates" class="button green pricing-select">Get started</a>
				</div>

			</div>

			<div class="pricing-category basic">
				<header class="pricing-details">
					<h5 class="pricing-title">Basic</h5>
					<h3 class="pricing-price  basic-package">&pound;7</h3>
					<h5 class="pricing-timeline">/mo</h5>
				</header>

				<div class="pricing-benefits">
					<ul>
						<li class="included">Web builder</li>
						<li class="included">Blog</li>
						<li class="included">Ecommerce</li>
						<li class="included">10 pages</li>
						<li class="included">Map custom domain</li>
						<li class="not-included">Free domain</li>
					</ul>
					<a href="/templates" class="button green pricing-select">Get started</a>
				</div>
			</div>

			<div class="pricing-category business highlighted">
				<header class="pricing-details">
					<h5 class="pricing-title">Business</h5>
					<h3 class="pricing-price  business-package">&pound;12</h3>
					<h5 class="pricing-timeline">/mo</h5>
				</header>

				<div class="pricing-benefits">
					<ul>
						<li class="included">Web builder</li>
						<li class="included">Blog</li>
						<li class="included">Ecommerce</li>
						<li class="included">Unlimited pages</li>
						<li class="included">Map custom domain</li>
						<li class="included">Free domain</li>
					</ul>
					<a href="/templates" class="button green pricing-select">Get started</a>
				</div>

			</div>

		</div>

	</div>
</div>



<!-- FOOTER -->

{% include 'includes/footer.twig' %}

{% endblock %}
