{% extends "layout.twig" %}

{% block content %}


<!-- HEADER & NAVIGATION -->

{% include 'includes/header-small.twig' %}

<!-- Feature -->
	<div class="feature small alt-img">
	    <div class="feature-content">
	        <div class="container">
	        	{{widget('content', 'feature-heading-templates', {"content":'<h1>Select your template</h1><h4>Tour through our template library, select the one you love and get building. Have the freedom to switch templates at any time.</h4>'})|raw}}
	        </div>
	    </div>
	</div>
</div>



<!-- SIGNUP / LOGIN OVERLAY -->

{% include 'includes/form-overlay.twig' %}



<!-- MAIN SECTION -->

<div role="main" class="main">

	<div class="container">

		<section class="template-list">

			<div class="template">
				<a href="/signup?theme=1080" class="template-link" target="_parent">
	                <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/masonry/thumbnail.png" alt="Masonry">
	                <h5 class="template-name">Masonry</h5>
	            </a>
            </div>

            <div class="template">
                <a href="/signup?theme=1082" class="template-link" target="_parent">
	                <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/ampersand/thumbnail.png" alt="Ampersand">
	                <h5 class="template-name">Ampersand</h5>
	            </a>
            </div>

            <div class="template">
		        <a href="/signup?theme=770" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/roots/roots.png" alt="Roots">
		            <h5 class="template-name">Roots</h5>
		        </a>
		    </div>

		    <div class="template">
		        <a href="/signup?theme=558" class="template-link" target="_parent">
		        	<img class="template-thumbnail" src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/unknown/unknown.png" alt="">
		            <h5 class="template-name">Unknown</h5>
		        </a>
		    </div>

			<div class="template">
				<a href="/signup?theme=1083" class="template-link" target="_parent">
	                <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/abroad/thumbnail.png" alt="abroad">
	                <h5 class="template-name">Abroad</h5>
	            </a>
			</div>

			<div class="template">
                <a href="/signup?theme=556" class="template-link" target="_parent">
	                <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/specify/specify.png" alt="specify">
	                <h5 class="template-name">Specify</h5>
	            </a>
             </div>

		    <div class="template">
		        <a href="/signup?theme=795" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/on-the-shore/on-the-shore.png" alt="">
		            <h5 class="template-name">On the Shore</h5>
		        </a>
		    </div>

		    <div class="template">
		        <a href="/signup?theme=564" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/verbier/verbier.png" alt="">
		            <h5 class="template-name">Verbier</h5>
		        </a>
		    </div>

		    <div class="template">
	             <a href="/signup?theme=1081" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/prism/thumbnail.png" alt="Prism">
		            <h5 class="template-name">Prism</h5>
		        </a>
            </div>

		    <div class="template">
		        <a href="/signup?theme=561" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/nordic/nordic.png" alt="">
		            <h5 class="template-name">Nordic</h5>
		        </a>
		    </div>

		    <div class="template">
		        <a href="/signup?theme=955" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/views/views.png" alt="">
		            <div class="template-name">Views</div>
		        </a>
		    </div>

		    <div class="template">
                <a href="/signup?theme=71" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/monday/monday.png" alt="">
		            <h5 class="template-name">Monday</h5>
		        </a>
            </div>

		    <div class="template">
                <a href="/signup?theme=443" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/neue/neue.png" alt="Neue">
		            <h5 class="template-name">Neue</h5>
		        </a>
            </div>

		    <div class="template">
		        <a href="/signup?theme=674" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/quest/quest.png" alt="">
		            <h5 class="template-name">Quest</h5>
		        </a>
		    </div>

		    <div class="template">
		        <a href="/signup?theme=559" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/transition/transition.png" alt="">
		            <h5 class="template-name">Transition</h5>
		        </a>
		    </div>

		    <div class="template">
		        <a href="/signup?theme=779" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/explore/explore.png" alt="">
		            <h5 class="template-name">Explore</h5>
		        </a>
		    </div>

		    <div class="template">
		        <a href="/signup?theme=562" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/oliver/oliver.png" alt="">
		            <h5 class="template-name">Oliver Thames</h5>
		        </a>
		    </div>

		    <div class="template">
		        <a href="/signup?theme=990" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/techdesk/techdesk.png" alt="">
		            <h5 class="template-name">Techdesk</h5>
		        </a>
		    </div>

		    <div class="template">
		        <a href="/signup?theme=615" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/14ee2ab/templates/spiritus/spiritus.png" alt="">
		            <h5 class="template-name">Spiritus</h5>
		        </a>
		    </div>

		    <div class="template">
		        <a href="/signup?theme=439" class="template-link" target="_parent">
		        	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/owltemplate/owltemplate.png" alt="">
		            <div class="template-name">Owl</div>
		        </a>
		    </div>

		</section>

	</div>

</div>



<!-- FOOTER -->

{% include 'includes/footer.twig' %}

{% endblock %}


{% block scripts %}

	<!-- IMAGESLOADED -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>

	<!-- MASONRY -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.1/masonry.pkgd.min.js"></script>

	<script>
		var container = document.querySelector('.template-list');
		imagesLoaded( container, function() {
			var msnry = new Masonry( container, {
				itemSelector: '.template'
			});
		});
	</script>

{% endblock %}
