{% extends "layout.twig" %}

{% block content %}


<!-- HEADER & NAVIGATION -->

{% include 'includes/header.twig' %}



<!-- SIGNUP / LOGIN OVERLAY -->

{% include 'includes/form-overlay.twig' %}



<!-- MAIN SECTION -->

<div role="main" class="main template-picker">

	<div class="template-container">

    <div class="template-header">
        <div class="container">
            <div class="seven columns">
                {{widget('content', 'feature-heading-templates', {"content":'<h1>Select your template</h1><h4>Tour through our template library, select the one you love and get building.<br> Have the freedom to switch templates at any time.</h4>'})|raw}}
            </div>
            <!--<div class="five columns">
                <select>
                    <option value="standard">Standard</option>
                    <option value="blog">Blog</option>
                    <option value="ecommerce">Ecommerce</option>
                </select>
            </div>

            <div class="twelve columns">
                <ul class="template-category">
                    <li><a href="#standard">Standard</a></li>
                    <li><a href="#blog" class="selected">Blog</a></li>
                    <li><a href="#ecommerce">Ecommerce</a></li>
                </ul>
            </div>-->

        </div>
    </div>

		<section class="template-list">

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/trivia/develop/trivia-screenshot.jpg" alt="Trivia">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/trivia" class="template-preview-link" id="Trivia">View Template</a>
                    </div>
                </div>
            </div>

			<div class="template">
				<div class="template-overlay-container">

                	<img src="//raw.githubusercontent.com/basekit-templates/masonry/develop/masonry-screenshot.jpg" alt="Masonry">

                	<div class="template-overlay vertical-center">
	                	<a href="template-preview/masonry" class="template-preview-link" id="masonry">View Template</a>
                	</div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/abroad/develop/screenshot.jpg" alt="Abroad">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/abroad" class="template-preview-link" id="Abroad">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/zest/develop/zest-screenshot.jpg" alt="Zest">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/zest" class="template-preview-link" id="Zest">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/odense/develop/odense-screenshot.jpg" alt="Odense">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/odense" class="template-preview-link" id="Odense">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/people/develop/screenshot.jpg" alt="People">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/people" class="template-preview-link" id="People">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/sense/develop/sense-screenshot.jpg" alt="Sense">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/sense" class="template-preview-link" id="Sense">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/balkan/develop/balkan-screenshot.jpg" alt="Balkan">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/balkan" class="template-preview-link" id="Balkan">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/couture/develop/couture-screenshot.jpg" alt="Couture">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/couture" class="template-preview-link" id="Couture">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/timeline/develop/timeline-screenshot.jpg" alt="Timeline">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/timeline" class="template-preview-link" id="Timeline">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/journal/develop/journal-screenshot.jpg" alt="Journal">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/journal" class="template-preview-link" id="Journal">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/skate/develop/skate-screenshot.jpg" alt="Skate">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/skate" class="template-preview-link" id="Skate">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/sullivan/develop/sullivan-screenshot.jpg" alt="Sullivan">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/sullivan" class="template-preview-link" id="Sullivan">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/facet/develop/facet-screenshot.jpg" alt="Facet">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/facet" class="template-preview-link" id="Facet">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/apparel/develop/apparel-screenshot.jpg" alt="Apparel">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/apparel" class="template-preview-link" id="Apparel">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/ampersand/develop/screenshot.jpg" alt="Ampersand">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/ampersand" class="template-preview-link" id="Ampersand">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/scribe/develop/scribe-screenshot.jpg" alt="Scribe">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/scribe" class="template-preview-link" id="Scribe">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/crane/develop/crane-screenshot.jpg" alt="Crane">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/crane" class="template-preview-link" id="Crane">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="//raw.githubusercontent.com/basekit-templates/sign/develop/sign-screenshot.jpg" alt="Sign">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/sign" class="template-preview-link" id="Sign">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
				<div class="template-overlay-container">

                	<img src="//raw.githubusercontent.com/basekit-templates/himalaya/develop/himalaya-screenshot.jpg" alt="Himalaya">

                	<div class="template-overlay vertical-center">
	                	<a href="template-preview/himalaya" class="template-preview-link" id="Himalaya">View Template</a>
                	</div>
                </div>
            </div>

		</section>

	</div>

</div>



<!-- FOOTER -->

{% include 'includes/footer.twig' %}

{% endblock %}


{% block scripts %}

    <script src="{{asset('css/template-list.css')}}"></script>
    <script src="{{asset('js/template-list.js')}}"></script>

	<!-- IMAGESLOADED -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>

	<!-- MASONRY -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.1/masonry.pkgd.min.js"></script>

	<script>
		var container = document.querySelector('.template-list');
		imagesLoaded( container, function() {
			var msnry = new Masonry( container, {
				itemSelector: '.template'
			});
		});
	</script>

{% endblock %}
