{% extends "layout.twig" %}

{% block content %}


<!-- HEADER & NAVIGATION -->

{% include 'includes/header.twig' %}



<!-- SIGNUP / LOGIN OVERLAY -->

{% include 'includes/form-overlay.twig' %}



<!-- MAIN SECTION -->

<div role="main" class="main template-picker">

	<div class="template-container">

    <div class="template-header">
        <div class="container">
            {{widget('content', 'feature-heading-templates', {"content":'<h1>Select your template</h1><h4>Tour through our template library, select the one you love and get building. Have the freedom to switch templates at any time.</h4>'})|raw}}
        </div>
    </div>

		<section class="template-list">

            <div class="template">
                <div class="template-overlay-container">

                    <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/trivia/trivia-screenshot.jpg" alt="Trivia">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/trivia" class="template-preview-link" id="Trivia">View Template</a>
                    </div>
                </div>
            </div>

			<div class="template">
				<div class="template-overlay-container">

                	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/masonry/masonry-screenshot.jpg" alt="Masonry">

                	<div class="template-overlay  vertical-center">
	                	<a href="template-preview/masonry" class="template-preview-link" id="masonry">View Template</a>
                	</div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/sign/sign-screenshot.jpg" alt="Sign">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/sign" class="template-preview-link" id="Sign">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/balkan/balkan-screenshot.jpg" alt="Balkan">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/balkan" class="template-preview-link" id="Balkan">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/skate/skate-screenshot.jpg" alt="Skate">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/skate" class="template-preview-link" id="Skate">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/scribe/scribe-screenshot.jpg" alt="Scribe">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/scribe" class="template-preview-link" id="Scribe">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/facet/facet-screenshot.jpg" alt="Facet">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/facet" class="template-preview-link" id="Facet">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/sullivan/sullivan-screenshot.png" alt="Sullivan">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/sullivan" class="template-preview-link" id="Sullivan">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/apparel/apparel-screenshot.jpg" alt="Apparel">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/apparel" class="template-preview-link" id="Apparel">View Template</a>
                    </div>
                </div>
            </div>

            <div class="template">
                <div class="template-overlay-container">

                    <img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/unite/unite-screenshot.jpg" alt="Unite">

                    <div class="template-overlay vertical-center">
                        <a href="template-preview/unite" class="template-preview-link" id="Unite">View Template</a>
                    </div>
                </div>
            </div>

            <!--<div class="template">
				<div class="template-overlay-container">

                	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/nineteen-twenties/screenshot.jpg" alt="Nineteen Twenties">

                	<div class="template-overlay">
	                	<a href="template-preview/nineteen-twenties" class="template-preview-link" id="Nineteen-Twenties">View Template</a>
                	</div>
                </div>
            </div>

            <div class="template">
				<div class="template-overlay-container">

                	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/alpha-studio/alphastudio-screenshot.jpg" alt="Alpha Studio">

                	<div class="template-overlay">
	                	<a href="template-preview/alpha-studio" class="template-preview-link" id="Alpha-Studio">View Template</a>
                	</div>
                </div>
            </div>

            <div class="template">
				<div class="template-overlay-container">

                	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/sense/screenshot.jpg" alt="Sense">

                	<div class="template-overlay">
	                	<a href="template-preview/sense" class="template-preview-link" id="Sense">View Template</a>
                	</div>
                </div>
            </div>

            <div class="template">
				<div class="template-overlay-container">

                	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/himalaya/himalaya-screenshot.jpg" alt="Himalaya">

                	<div class="template-overlay">
	                	<a href="template-preview/himalaya" class="template-preview-link" id="Himalaya">View Template</a>
                	</div>
                </div>
            </div>

            <div class="template">
				<div class="template-overlay-container">

                	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/ampersand/screenshot.jpg" alt="Ampersand">

                	<div class="template-overlay">
	                	<a href="template-preview/ampersand" class="template-preview-link" id="Ampersand">View Template</a>
                	</div>
                </div>
            </div>

            <div class="template">
				<div class="template-overlay-container">

                	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/abroad/screenshot.jpg" alt="Abroad">

                	<div class="template-overlay">
	                	<a href="template-preview/abroad" class="template-preview-link" id="Abroad">View Template</a>
                	</div>
                </div>
            </div>

            <div class="template">
				<div class="template-overlay-container">

                	<img src="http://d35onr1h4eb0bw.cloudfront.net/4d11ffe/templates/prism/prism-screenshot.jpg" alt="Prism">

                	<div class="template-overlay">
	                	<a href="template-preview/prism" class="template-preview-link" id="Prism">View Template</a>
                	</div>
                </div>
            </div>-->

		</section>

	</div>

</div>



<!-- FOOTER -->

{% include 'includes/footer.twig' %}

{% endblock %}


{% block scripts %}

    <script src="{{asset('css/template-list.css')}}"></script>
    <script src="{{asset('js/template-list.js')}}"></script>

	<!-- IMAGESLOADED -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>

	<!-- MASONRY -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.1/masonry.pkgd.min.js"></script>

	<script>
		var container = document.querySelector('.template-list');
		imagesLoaded( container, function() {
			var msnry = new Masonry( container, {
				itemSelector: '.template'
			});
		});
	</script>

{% endblock %}
