<footer class="footer">
	<div class="container">

		<div class="row">

			<!-- Copyright -->
			<div class="four columns">
				{{widget('content', 'copyright', {"content":'<h5>Copyright BaseKit 2015</h5>'})|raw}}
			</div>

		</div>

	</div>
</footer>
