<footer class="footer">
	<div class="container">

		<div class="row">

			<!-- Copyright -->
			<div class="four columns">
				{{widget('content', 'copyright', {"content":'<h5>Copyright BaseKit 2015</h5>'})|raw}}
			</div>

			<!-- Navigation -->
			<div class="eight columns">
				<nav>
					<ul>
						<li><a target="_blank" href="http://docs.basekit.com/">Docs</a></li>
						<li><a target="_blank" href="http://knowledge.basekit.com/">Knowledge</a></li>
						<li><a href="#">Login</a></li>
		            </ul>
	            </nav>
			</div>

		</div>

	</div>
</footer>
