<!-- Developer Signup Overlay -->
<div id="developer-signup" class="dev-overlay">

	<div class="dev-overlay-container">

		<div class="dev-signup-form">
			<div class="dev-signup-title">
				<img src="{{asset('images/logo-icon.png')}}" class="logo-icon">
				<h2>Developer Sign Up</h2>
			</div>
			<a href="#close" class="icon  icon--close"></a>
			{{zone('main')|raw}}
			<p class="dev-signup-text">Have an account? <a href="#developer-login">Login</a> here.</p>
		</div>

	</div>

</div>

<!-- Developer Login Overlay -->
<div id="developer-login" class="dev-overlay">

	<div class="dev-overlay-container">

		<div class="dev-login-form">
			<div class="dev-login-title">
				<img src="{{asset('images/logo-icon.png')}}" class="logo-icon">
				<h2>Developer Login</h2>
			</div>
			<a href="#close" class="icon  icon--close"></a>
			{{widget('userlogin','userlogin',{})|raw}}
			<p class="dev-signup-text">Don't have an account? <a href="#developer-signup">Signup</a> here.</p>
		</div>

	</div>

</div>
