<!--- HEADER - FEATURE -->

<div class="header-feature">

	<header class="header" role="banner">
	    <div class="container">
	    	<div class="row">

	    	<!-- Logo -->
		        <div class="four columns">
	                <a href="/home" class="logo">
	                	<img src="{{asset('images/basekit-logo.svg')}}" alt="BaseKit">
	                </a>
		        </div>

		        <!-- Mobile Navigation Toggle -->
		        <div class="nav-toggle toggle"><span></span></div>

		        <!-- Navigation -->
		        <div class="eight columns">
		        	<nav class="nav">
			            <ul>
			                <li><a target="_blank" href="http://docs.basekit.com/">Docs</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a target="_blank" href="http://knowledge.basekit.com/">Forum</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="#login" class="button small outline">Login</a></li>
			            </ul>
		            </nav>

		        </div>

		    </div>
	    </div>
	</header>

	<!-- Feature -->
	<div class="feature large home-img">
	    <div class="feature-content">
	        <div class="container">

	        	{{widget('content', 'feature-heading-home', {"content":'<h1>Let&#39;s Build Better. Together</h1><h4>The BaseKit Developer Portal: Your space to learn, work and play alongside fellow developers.</h4>'})|raw}}

	        	<div class="feature-buttons">
		        	{{widget('content', 'feature-button', {"content":'<a class="button large green" href="#signup">Get Started</a>'})|raw}}
		        	{{widget('content', 'feature-button-2', {"content":'<a class="button large vimeo-launch" href="#" data-vimeo-id="127696861" data-label="Launch Vimeo Lightbox">Learn more</a>'})|raw}}
	        	</div>

	        </div>
	    </div>
	</div>

</div>



<!-- SIGNUP / LOGIN OVERLAY -->

{% include 'includes/form-overlay.twig' %}
