<div class="header-feature">

	<header class="header" role="banner">
	    <div class="container">
	    	<div class="row">

	    	<!-- Logo -->
		        <div class="four columns">
	                <a href="/home" class="logo">
	                	<img src="{{asset('images/basekit-logo--white.svg')}}" alt="BaseKit">
	                </a>
		        </div>

		        <!-- Mobile Navigation Toggle -->
		        <div class="nav-toggle toggle"><span></span></div>

		        <!-- Navigation -->
		        <div class="eight columns">
		        	<nav class="nav">
			            <ul>
			                <li><a target="_blank" href="http://docs.basekit.com/">Docs</a></li>
							<li><a target="_blank" href="http://knowledge.basekit.com/">Forum</a></li>
							<li><a href="/pricing">Pricing</a></li>
							<li><a href="#login" class="button small outline">Login</a></li>
			            </ul>
		            </nav>

		        </div>

		    </div>
	    </div>
	</header>



<!-- SIGNUP / LOGIN OVERLAY -->

{% include 'includes/form-overlay.twig' %}
