<div class="row">

    <div class="swiper-container tech-swiper">
	    <div class="swiper-pagination"></div>

        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{{asset('images/illustrations/html.png')}}"/></div>
            <div class="swiper-slide"><img src="{{asset('images/illustrations/css.png')}}"/></div>
            <div class="swiper-slide"><img src="{{asset('images/illustrations/js.png')}}"/></div>
        </div>

    </div>
</div>
