<!-- THEME SLIDER -->

<div class="row">

    <div class="swiper-container showcase-swiper">

        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{{asset('images/themes/theme-masonry.png')}}"/></div>
            <div class="swiper-slide"><img src="{{asset('images/themes/theme-quest.png')}}"/></div>
            <div class="swiper-slide"><img src="{{asset('images/themes/theme-masonry.png')}}"/></div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</div>
